/* Configurações do Body*/
body{
  margin:0;
  background-image: url("../IMG/bg-site.gif");
  display:flex;
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;  
  justify-content:center;
  align-items:center;
  min-height:100vh; 
  padding:20px; 
  font-family:Arial;
}
 
.maquina{
  border: 6px solid;
  box-shadow: 0 0 10px #c634d3;
  border-color: #96015d;
  margin-top:0; 
  width:100%; 
  max-width:430px; 
  background:linear-gradient(to bottom,#690099,#3d0249);
  border-radius:20px;
  padding:20px;
  box-shadow:0 25px 45px #00000066;
  transform:perspective(1000px) rotateX(5deg);
  position:relative;
}

.vidro{
  border-radius:12px;
  padding:15px;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:15px;
  height:350px; 
  max-height:60vh; 
}

#vidro{
  position:relative;
  background:#ffffff14;
  backdrop-filter:blur(8px);
  -webkit-backdrop-filter:blur(8px);
  border:1px solid #ffffff33;
  border-radius:15px;
  box-shadow:
    inset 0 0 20px #ffffff33,
    0 10px 30px #00000066;
  overflow: hidden;
}
 
/* Da efeito de transparencia*/
#vidro::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:linear-gradient(
    120deg,
    #ffffff40 0%, 
    #ffffff10 40%,
    #ffffff00 60%
  );
  pointer-events:none;
}
 
 /*Anima a faixa que passa no vidro*/
#vidro::after{
  content: "";
  position: absolute;
  top: 0;
  left: -30%;
  width: 30%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255,255,255,0.08) 50%, 
    transparent 100%
  );
  transform: skewX(-20deg);
  animation: brilhoSuave 8s infinite;
  pointer-events: none;
}

@keyframes brilhoSuave{
  0%{
    left: -30%;
  }
  100%{
    left: 120%;
  }
}

/* Slot é a parte que os doces ficam*/
.slot{
  border-radius:10px;
  position:relative;
  width:100%;
  height:110px; 
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  box-sizing:border-box;
  padding:8px;
}

.numero{
  position:absolute;
  top:6px;
  left:6px;
  width:20px;
  height:20px;
  background:#3d0249;
  color:white;
  font-size:11px;
  font-weight:bold;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:4px;
}

.produto-img{
  max-width:70%;
  max-height:50px; 
  object-fit:contain;
}

.preco{
  position:absolute;
  bottom:6px;
  right:6px;
  background:#ff3b3b;
  color:white;
  font-size:11px;
  font-weight:bold;
  padding:3px 8px;
  border-radius:4px;
  box-shadow:0 2px 4px #0000004d;
}

.painel{
  margin-top:15px;
  background:#290131;
  padding:15px;
  border-radius:12px;
}

.visor{
  background:black;
  color:#00ff00;
  height:40px;
  line-height:40px;
  text-align:center;
  border-radius:5px;
  margin-bottom:10px;
  font-family:monospace;
}

.teclado{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:6px;
}

.teclado button{
  padding:10px;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

.teclado button:hover{
  background:#ddd;
  transform:scale(1.05);
}

.botao-comprar,
.botao-troco{
  margin-top:8px;
  width:100%;
  padding:10px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  font-weight:bold;
  transition:0.3s;
}

.botao-comprar{
  background:#96015d;
  color:white;
}

.botao-comprar:hover{
  transform:scale(1.05);
}

.botao-troco{
  background:#4b012f;
  color:white;
}

.botao-troco:hover{
  transform:scale(1.05);
}

.entrada-moeda{
  border: 3px solid;
  box-shadow: 0 0 8px #d171da;
  display: grid;
  border-color: #96015d;
  border-width: 5px;
  cursor: pointer;
  background:#333;
  height: 60px; 
  width: 60px;  
  border-radius:50%;
  overflow:hidden;
}

.entrada-moeda:hover{
  transform: scale(1.05);
}

.bandeja{
  border: 3px solid #25035c;
  box-shadow: 0 0 8px #d171da;
  border-color: #96015d;
  background:#222;
  display: grid;
  border-radius:8px;
  align-items:center;
  justify-content:center;
  color:white;
  font-size:25px;
  cursor:pointer;
  height: 60px; 
  width: 60px;  
}
 
/* Centraliza a Entrada de Moedas com a Bandeja*/
.container{
  display:flex;
  justify-content:center; 
  gap:30px; 
  margin-bottom: 25px;
  margin-top: 5%;
}

.carteira{
  position:fixed;
  right:10px; 
  top:50%;
  transform:translateY(-50%);
  background:#25035c;
  padding:15px;
  border-radius:10px;
}

.moeda {
  width: 70px;
  height: 70px; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  cursor: grab;
  background: none;
}

.moeda-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

/* Responsivel */

@media (max-width: 768px){

  .maquina{
    transform:none;
  }

  .vidro{
    height:280px;
  }

  .slot{
    height:95px;
  }

  .produto-img{
    max-height:40px;
  }

  .carteira{
    position:relative;
    right:auto;
    top:auto;
    transform:none;
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
  }

  .moeda{
    width:55px;
    height:55px;
  }

}
